* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.search {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.search.fixed {
  position: fixed;
  background-color: white;
}

.search.transparent {
  background-color: transparent;
}

/* navbar */

.navbar {
  background-color: transparent !important;
}

.navbar .container-fluid {
  justify-content: space-between !important;
  display: unset !important;
}

.navbar .col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar button {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 1em;
}

.navbar button:hover button:not(#states-dropdown) {
  background-color: black;
  color: white;
}

.search-bar {
  display: none;
  /* padding: 10px 0; */
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: black;
  color: white;
}

#states-dropdown {
  background-color: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

#states-dropdown:focus-visible {
  background-color: transparent;
  border: none;
}

.hamburger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 100%;
  text-align: center;
}

.hamburger-nav a:hover {
  background-color: black;
  color: white;
}

.single-pro-container {
  width: 80%;
  max-width: 1200px;
  margin: 80px auto 100px;
  background-color: #fff;
  padding: 20px;
}

.product-details {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-images img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 20px;
}

.product-images img.active {
  border: 2px solid black;
}

.main-image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  overflow: hidden;
}

.main-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 100px;
}

.product-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  font-size: 1.2rem;
}

.product-info h2 {
  font-size: 2rem;
}

.size-options {
  display: flex;
  gap: 15px;
}

.size-option {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.size-option.selected {
  background-color: #000;
  color: #fff;
}

.quantity {
  display: flex;
  gap: 15px;
  align-items: center;
}

.quantity-butn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.quantity-butn:hover {
  background-color: #000;
  color: #fff;
}

.butn {
  padding: 5px 20px;
  width: 100%;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.butn:hover {
  background-color: black;
  color: #fff;
}

.butn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  border: 2px solid #ccc;
}

.product-description {
  font-size: 1.2rem;
}

/*  */
.footer {
  background-color: #cbb4d4;
  padding: 50px 0;
}

.store-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-name .store-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffd700;
  border: 2px solid #ffd700;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  font-size: 2em;
  font-weight: 900;
  width: 200px;
  padding-bottom: 80px;
}
.store1 {
  padding: 20px 0;
}
.store2 {
  rotate: 270deg;
  padding: 20px 50px 0 0;
}
.store3 {
  rotate: 90deg;
  padding: 20px 0 0 50px;
}

.footer .row-one {
  padding: 50px 0;
}

.footer .row-one span {
  font-weight: bold;
  font-size: 20pt;
  color: black;
}

.footer .row-one ul {
  list-style: none;
}

.footer .row-one a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.footer .row-two ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-top: 20px;
}

.footer .row-two a {
  text-decoration: none;
  color: black;
  font-size: 18pt;
}

.right-up {
  font-size: 14pt;
}

.home-arrow {
  margin-left: 50px;
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  color: white;
}

.footer-scroll {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 20px 0 10px;
  background-color: #cbb4d4;
  margin: 0 !important;
}

.scroll {
  animation: marquee 15s linear infinite;
  display: inline-flex;
  white-space: nowrap;
}

.word {
  display: inline-block;
  padding: 0 2rem;
  font-size: 20pt;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.shape {
  display: inline-block;
  padding: 0 1rem;
  font-size: 20pt;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .shape {
    font-size: 12pt;
  }
  .footer .row-two a {
    font-size: 12pt;
  }
  .home-arrow {
    margin-left: 0;
    padding: 6px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer .row-two a .right-up {
    display: none;
  }
}

@media (min-width: 1024px) {
  .footer .row-two a {
    font-size: 16pt;
  }
  .home-arrow {
    margin-left: 0;
    padding: 6px;
  }
  .footer {
    padding-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .hamburger-menu {
    display: block;
  }

  .hamburger-nav {
    position: absolute;
    top: 100%;
    left: -11px;
    width: 108%;
    background-color: white;
    padding: 1rem;
    display: none;
  }

  .hamburger-nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
  }

  .hide-in-ham,
  #hide-in-ham {
    display: none;
  }

  .navbar .container-fluid .row {
    flex-wrap: nowrap;
  }

  .slider img {
    aspect-ratio: 1/1;
    height: 300px;
  }

  #search-btn {
    display: block;
  }

  .navbar {
    width: 325px;
  }

  .single-pro-container {
    width: 100%;
    margin: 60px auto; 
    padding: 10px;
  }

  .product-details {
    flex-direction: column; 
    align-items: center;
  }

  .product-images {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-images img {
    width: 80px; 
    height: 80px;
    margin-right: 10px;
  }

  .main-image-container {
    margin-bottom: 20px; 
  }

  .main-image {
    max-width: 100%; 
    height: auto;
  }

  .product-info {
    font-size: 1rem; 
  }

  .size-options {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .quantity {
    flex-direction: row; 
    align-items: center;
    justify-content: center;
  }

  .quantity-butn {
    width: 30px; 
    height: 30px;
  }

  .butn {
    font-size: 1rem; 
    padding: 10px 15px; 
  }

  .footer .container .row {
    flex-direction: column;
    align-content: center;
  }
  .footer .row-two ul {
    flex-direction: column;
    gap: 0;

    li {
      padding: 5px;
    }
    span {
      padding-left: 150px;
    }
  }
  .footer .row-one {
    padding-bottom: 20px;
  }
  .footer .row-one ul {
    padding: 0px;
    margin-top: 10px;
  }
  .store-name {
    justify-content: flex-start;
  }

  .product-category .card {
    border-radius: 20px;
    margin: 0 0 10px;
  }
  .highlight-text h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
  }
}
